* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegador {
  background-color: rgb(46, 71, 170);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navegador .fa-bars {
  display: none;
}
.navegador img {
  object-fit: cover;
  width: 60px;
}
.navegador p {
  font-size: 60px;
  text-align: center;
  padding: 20px;
  font-family: "Pangolin", cursive;
}
.navegador ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navegador ul li a {
  text-decoration: none;
  font-size: 20px;
  background-color: white;
  color: rgb(46, 71, 170);
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}

@media (max-width: 768px) {
  .navegador .fa-bars {
    margin: 10px;
    color: white;
    font-size: 60px;
    order: -1;
    display: block;
  }
  .navegador p {
    display: none;
  }
  .navegador ul {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 80%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: 1s;
  }
  .navegador ul li a {
    color: black;
  }
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
  .navegador ul:hover {
    left: 0;
  }
}
.encabezado {
  background-image: url(../multimedia/img/fondo-lema.jpg);
  height: 420px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.encabezado div h1 {
  background-color: rgb(46, 71, 170);
  color: white;
  font-size: 70px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}
.encabezado div p {
  background-color: rgb(46, 71, 170);
  color: white;
  font-size: 35px;
  border-radius: 10px;
}

/*encabezado nosotros*/
.div-encabezado-nosotros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: rgb(77, 101, 199);
  margin-top: 40px;
}
.div-encabezado-nosotros p {
  font-size: 42px;
  font-family: cursive;
}
.div-encabezado-nosotros img {
  width: 50%;
  height: 250px;
}

/*fin encabezado nosotros*/
.cuerpo-index .titulo-oferta {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}
.cuerpo-index .mejores-ofertas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cuerpo-index .mejores-ofertas .producto {
  width: 400px;
  border: 5px solid;
  border-color: rgb(46, 71, 170);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 10px;
}
.cuerpo-index .mejores-ofertas .producto img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}
.cuerpo-index .mejores-ofertas .producto p {
  text-align: center;
}
.cuerpo-index .mejores-ofertas .producto button {
  background-color: rgb(46, 71, 170);
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 5px;
}

.titulo-au {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}

.autos-usados {
  margin: 30px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 12%);
  grid-template-rows: repeat(4, 150px);
  grid-template-areas: "auto1 auto1 auto2 auto2 auto3 auto3" "auto1 auto1 auto2 auto2 auto3 auto3" "auto4 auto4 auto5 auto5 auto6 auto6" "auto4 auto4 auto5 auto5 auto6 auto6";
}
.autos-usados .auto1 {
  grid-area: auto1;
  margin: 10px;
  border: 5px solid rgb(46, 71, 170);
}
.autos-usados .auto2 {
  grid-area: auto2;
  margin: 10px;
  border: 5px solid rgb(46, 71, 170);
}
.autos-usados .auto3 {
  grid-area: auto3;
  margin: 10px;
  border: 5px solid rgb(46, 71, 170);
}
.autos-usados .auto4 {
  grid-area: auto4;
  margin: 10px;
  border: 5px solid rgb(46, 71, 170);
}
.autos-usados .auto5 {
  grid-area: auto5;
  margin: 10px;
  border: 5px solid rgb(46, 71, 170);
}
.autos-usados .auto6 {
  grid-area: auto6;
  margin: 10px;
  border: 5px solid rgb(46, 71, 170);
}
.autos-usados img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.quienes-somos {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.quienes-somos img {
  width: 60%;
  height: 400px;
  object-fit: cover;
}
.quienes-somos p {
  width: 35%;
  font-size: 25px;
  align-items: center;
  display: flex;
  text-align: justify;
}

.separador-nosotros {
  width: 100%;
  height: 150px;
  background-color: rgb(77, 101, 199);
}

.mapa-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  margin: 50px;
}
.mapa-nosotros label {
  font-size: 30px;
  font-family: "Pangolin", cursive;
}
.mapa-nosotros iframe {
  width: 500px;
  height: 300px;
}

.pie {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  background-color: rgb(46, 71, 170);
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.pie div {
  width: 300px;
}
.pie div p {
  margin: 10px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.pie .pie-nosotros p {
  width: 400px;
  align-items: center;
  margin: 5px;
}
.pie .pie-nosotros p img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.pie .pie-redes {
  text-align: center;
}
.pie .pie-redes nav img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 5px;
  background-color: white;
}
.pie .pie-info {
  text-align: center;
}

@media (max-width: 768px) {
  .pie {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
}
.formulario {
  text-align: justify;
  border: 4px solid;
  border-color: rgb(46, 71, 170);
  margin: 20px;
  padding: 10px;
}

.titulo-servicios {
  text-align: center;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cuerpo-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cuerpo-servicios div {
  border: solid 5px;
  border-color: rgb(46, 71, 170);
  border-radius: 5px;
  padding: 5px;
  margin: 30px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.cuerpo-servicios div .titulo-div-serv {
  font-size: 30px;
  color: rgb(46, 71, 170);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.cuerpo-servicios div img {
  width: 600px;
  height: 300px;
  object-fit: cover;
  justify-items: center;
  align-items: center;
}
.cuerpo-servicios div p {
  text-align: center;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
